[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

python-dotenv = "*"
gunicorn = "*"
aiohttp = "*"
aioredis = "*"
docopt = "*"
PyGithub = "*"
redis = "*"
redis-collections = "*"
pytest = "*"
pytest-aiohttp = "*"
fakeredis = "*"


[dev-packages]

